/* Journal Styling */
.container {
  display: flex;
  flex-direction: row;
  
}

.main {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holder1 {
  width:8%;
}

.title {
  margin: 0;
  line-height: 1.15;
  color:#0F2046;
  font-size: 40px;
}

.formcont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.moodcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.subtitleholder {
  font-size: 16px;
  font-weight: 300;
  color: #878FA2;
}

.input {
  color: red;
}

.mood {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.moodlabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mooddesc {
  font-size: 12px;
  font-weight: 300;
  color: #878FA2;
}

.imagecont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.labelimageupload {
  width: 30%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 0px 0px 20px #F2F3F7;
  border-radius: 25px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #0F2046;
}


.imageuploads {
  display: none;
}

.cameraimage {
  height: 20px;
}

.descriptioncont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.textareajournal {
  font-size: 16px;
  font-weight: 200;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 0px 20px #F2F3F7;
  border-radius: 25px;
  background-color: #FFFFFF;
  padding: 20px;
  border-style: none;
  width: 30%;
  height: 300px;
  resize: none;
}















.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
